<div class="admin-dashboard">
  <aside class="sidebar">
    <ul>
      <li routerLinkActive="active" [routerLink]="['add-job']">
        <img src="Images/download (1).svg" alt="Add Job" /> Add Job
      </li>
      <li routerLinkActive="active" [routerLink]="['manage-jobs']">
        <img src="Images/download (2).svg" alt="Manage Jobs" /> Manage Jobs
      </li>
      <li routerLinkActive="active" [routerLink]="['view-applications']">
        <img src="Images/download.svg" alt="View Applications" /> View Applications
      </li>
    </ul>
  </aside>

  <main class="main-content">
    <!-- ROUTED COMPONENTS WILL RENDER HERE -->
    <router-outlet></router-outlet>
  </main>
</div>
