.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 
}

.left-nav h1 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
}

.right-nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.right-nav ul li a {
  font-size: 18px;
  color: #222;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}


.right-nav button {
  padding: 8px 18px;
  border-radius: 8px;
  /* background-color: #0077ff; */
  outline: 0;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgb(159, 154, 154);
  transition: background-color 0.3s ease;
}

.right-nav button a {
  font-size: 16px;

  font-weight: 500;
  color: black;
}

.right-nav .admin {
  background-color: #8750f7;
  color: white;
}

.right-nav .admin a{
    color: white;
    border: 0;
    outline: 0;
}