<app-navbar></app-navbar>

<div class="home-section">
  <div class="home-title">
    <h1>
      Find Your Dream Job <br />
      <span> and get <img src="assets\logo.png" alt="" /></span>
    </h1>
    <p>Explore thousands of job listings or find the perfect candidate</p>
  </div>

  <div class="job-search-bar">
    <div class="search-input">
      <i class="fas fa-briefcase"></i>
      <input type="text" placeholder="Job title or keyword" #JobInput />
    </div>

    <div class="location-input">
      <i class="fas fa-map-marker-alt"></i>
      <input type="text" placeholder="Location" />
    </div>

    <button class="search-btn">Search</button>
  </div>

  <div class="logo-carousel">
    <div class="logo-track">
      <img src="assets\amazon.svg" alt="Atlassian" />
      <img src="assets\atlassian.svg" alt="Meta" />
      <img src="assets\google.webp" alt="Google" />
      <img src="assets\ibm.svg" alt="Amazon" />
      <img src="assets\meta.svg" alt="Microsoft" />

      <img src="assets\microsoft_logo.svg" alt="Atlassian" />
      <img src="assets\netflix.png" alt="Meta" />
      <img src="assets\uber.svg" alt="Amazon" />
    </div>
  </div>
</div>
