<div *ngIf="successMessage" class="alert alert-success alert-fixed">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage" class="alert alert-danger alert-fixed">
  {{ errorMessage }}
</div>

<div class="login-container">
  <h1>Sign in to Job Portal</h1>
  <p>Welcome back! Please sign in to continue.</p>
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="user.email"
        placeholder="Enter your email"
        #firstNameInput
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="user.password"
        placeholder="Enter your password"
        required
      />
    </div>

    <button type="submit">Sign In</button>

    <p class="sign-in">
      Don’t have an account?
      <a routerLink="/register">Sign up now</a>
    </p>
  </form>
</div>
