/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  /* background: linear-gradient(145deg, #e0eaff, #f4f4f4); */
  /* min-height: 100vh; */
  /* color: #222; */
}

html,
body {
  width: 100%;
  height: 100%;
}
